.product-page {
  display: grid;
  grid-template-columns: 30rem auto;
}

.filter-listing-container {
  overflow: auto;
  padding: 1rem;
  gap: 1rem;
  height: 80vh;
}

.filter-header,
.filter-content-container,
.filter-container {
  display: flex;
}
.filter-header{
  border-bottom: 1px solid var(--lynxwhite-color);
  padding-bottom: 1rem;
}
.filter-header > button {
  margin-left: auto;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.filter-content-container{
  flex-direction: column;
  gap:2rem;
  padding-top: 1rem;
}

.filter-container {
  flex-direction: column;
  gap:1rem;
}

.product-listing-container {
  overflow: auto;
}
