/* Basic Card*/

.card-basic {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  max-width: 35rem;
  height: fit-content;
  margin: 2rem;
  position: relative;
  z-index: 0;
}

.card-ribbon::before {
  position: absolute;
  content: "";
  background: var(--info-color);
  height: 28px;
  width: 28px;
  top: 1.5rem;
  right: -0.4rem;
  transform: rotate(45deg);
  z-index: -999999;
}

.card-ribbon::after {
  position: absolute;
  content: attr(badge-text);
  top: 1rem;
  right: -0.9rem;
  padding: 0.5rem;
  width: 10rem;
  background: var(--info-color);
  color: var(--lynxwhite-color);
  text-align: center;
}

.card-image {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  height: 19.2rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.card-title {
  padding: 1.6rem 0rem 0.8rem 1.6rem;
}

.card-title-header {
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 0 0 10px #000;
}

.card-title-author {
  color: gray;
  text-shadow: 0 0 10px #000;
}

.card-desc {
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  color: gray;
  font-size: 1.4rem;
}

.card-footer {
  margin-top: 0rem;
  padding: 0rem 1.6rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-footer-icons {
  display: flex;
  margin-left: auto;
  height: 100%;
  align-items: center;
}

.card-footer-icons .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
  font-size: 2rem;
  background-color: white;
  color: black;
}

.card-footer-icons .btn-icon:hover {
  background-color: var(--info-color);
  color: white;
  border-radius: 50%;
  font-size: 1.9rem;
}

.card-dismiss {
  position: absolute;
  font-size: 1.9rem;
  background-color: white;
  color: var(--info-color);
  right: 0rem;
  top: -0rem;
  border-radius: 0rem 0.3rem 0rem 0.5rem;
}

/* Card Basic Text over Media*/

.card-basic-text-over-media {
  height: fit-content;
}

.card-pull-text-over-media {
  margin-top: -6.6rem;
}

.white-text {
  color: white;
}

/* Card without Description*/

.card-small {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  min-width: 35rem;
  height: fit-content;
  margin: 2rem;
}

.card-small > .card-header {
  flex-direction: row;
  width: 100%;
  min-height: 11rem;
}

.card-small-image {
  max-width: 11rem;
}

.card-small > .card-footer {
  padding-top: 0.6rem;
}

.card-light-shadow {
  box-shadow: 0 0 1rem var(--lynxwhite-color);
}

/* Login Card */
.login-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login,
.login-sso,
.login-sso-icons,
.login-username,
.login-password {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-login {
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  border: 5px solid var(--lynxwhite-color);
  border-radius: 0.5rem;
  width: 500px;
  max-width: 80rem;
  max-height: 80rem;
  height: 500px;
  padding: 2rem;
  font-size: 2rem;
}

.login-title {
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: var(--violet-color);
}

.login-username,
.login-password {
  width: 100%;
  justify-content: space-between;
}

.login-username > input {
  flex: 1 1 auto;
}

.login-password > input {
  flex: 1 1 auto;
}

.login-sso {
  flex-direction: column;
}

.login-sso-icons {
  font-size: 3rem;
}
